body,
td,
th {
    padding: 0;
    margin: 0;
    background: #fff;
    color: rgba(0, 0, 0, .7);
    font-size: 13px;
    font-family: Microsoft YaHei;
}

a:link,
a:visited,
a:hover {
    text-decoration: none;
    color: #666;
}

.button {
    font: 24px Microsoft YaHei;
}

input,
textarea {
    font: 13px Microsoft YaHei;
}

ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}

h1 {
    text-align: center;
}

#header {
    background-color: #F6F6F6;
    width: 100%;
    float: left;
    border-bottom: 1px solid #ccc;
}

#h-logo {
    float: left;
    margin: 15px;
}

#h-back {
    float: right;
    margin: 15px;
}

#wrapper {
    float: left;
    width: 100%;
    margin: 0 auto 30px auto;
    text-align: center
}

#wrapper-all {
    background-color: #FFF;
    float: left;
    width: 100%;
    text-align: center;
    margin: 0;
}

#bt-up {
    width: 180px;
    height: 60px;
    margin: 80px auto 60px auto;
}

#bt-info {
    width: 960px;
    margin: 0 auto;
    font: 15px Microsoft YaHei;
    text-align: center;
}

#bt-info ul.table1 {
    border: 1px solid #ccc;
}

#bt-info ul.table1 li {
    margin: 10px 0;
    width: 100%;
}

#bt-info ul.table2 {
    margin: 0 0 0 12px;
    width: 960px;
}

#bt-info ul.table2 li {
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    float: left;
    width: 306px;
    line-height: 33px;
    margin-right: 5px;
}

#bt-make {
    width: 100%;
    text-align: center;
    line-height: 100px;
    margin-top: 20px;
}

#video {
    width: 100%;
    text-align: center;
    margin-top: 20px;
}

#videolv {
    width: 732px;
    text-align: center;
    margin: 10px auto 10px;
}

#td-wrapper {
    padding-top: 10px;
    margin: auto;
    width: 640px;
}

#footer {
    width: 100%;
    float: left;
    border-top: 1px solid #ccc;
}

#f-info {
    margin: 20px auto;
    text-align: center;
}